{% extends 'base.html' %}
{% load static %}

{% block title %}SA-travels-book tickets{% endblock title %}

{% block css %}
#fade-msg {
    color: red;
    animation: fadeOut 10s ease forwards;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } 
  #msg {
    color: green;
  }
{% endblock css %}

{% block body %}
    <form action="bookticket" method="POST">
        {% csrf_token %}
        <header class="head">
          <h1>Book Ticket</h1>
          <a href="{% url 'checkavailability' %}">Check Bus Availability</a>
          <a href="{% url 'homepage' %}">Back</a>
        </header>

        <main class="main">
          {% if is_it %}
            <div id="msg">
              {{bus_select}}
            </div>
          {% endif %}
          {{form.bus_no.label}}
          {{form.bus_no}} <br><br>
          {{form.no_of_seats.label}} 
          {{form.no_of_seats}} <br><br>
          {{form.user_pickup_point.label}}
          {{form.user_pickup_point}} <br><br>
          {{form.user_dropdown_point.label}}
          {{form.user_dropdown_point}} <br><br>
          <label for="myButton">Book Ticket</label>
          <button id="myButton" >Press Here</button> <br>
          <div id="fade-msg">
            {{error}}
        </div>
        </main>

        <footer class="footer">
          <center>
              <h1>...AS-TRAVELS official website...</h1>
              <p>This website is designed to book bus ticket's in AS-Travels</p>
              <p>EMAIL: sanjubibin44@gmail.com</p>
          </center>
        </footer>
    </form>
{% endblock body %}

