{% extends 'base.html' %}


{% block title %}SA-travels-check availability{% endblock title %}


{% block css %}
    #fade-msg {
      color: red;
      animation: fadeOut 10s ease forwards;
    }
    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    } 
{% endblock css %}


{% block body %}
    <form action="checkavailability" method="POST">
        {% csrf_token %}
        <header class="head">
          <h1>Check Available Buses</h1>
          <a href="{% url 'bookticket' %}">Booking Page</a>
          <a href="{% url 'homepage' %}">Back</a>
        </header>

        <main class="main">
          {{form.route_from.label}}
          {{form.route_from}} <br><br>
          {{form.destination_to.label}}
          {{form.destination_to}} <br><br>
          {{form.date_of_travel.label}}
          {{form.date_of_travel}} <br><br>

          <button>Check availability</button> <br><br>       

          <div id="fade-msg">{{ no_bus }}</div>
        </main>

        <footer class="footer">
          <center>
              <h1>...AS-TRAVELS official website...</h1>
              <p>This website is designed to book bus ticket's in AS-Travels</p>
              <p>EMAIL: sanjubibin44@gmail.com</p>
          </center>
        </footer>
    </form>
{% endblock body %}