{% extends 'base.html' %}

{% block title %}
SA Travels-user page
{% endblock title %}

{% block css %}

{% endblock css %}

{% block body %}
    <form action="home" method="POST">
        {% csrf_token %}
        <header class="head">
          <h1>HOME PAGE</h1>
          
          <h2>User {{username|title}}</h2>
        
          <nav>
            <center>
            <a href="{% url 'checkavailability' %}">Check Availability</a>

            <a href="{% url 'bookticket' %}">Book ticket</a>
    
            <a href="{% url 'userdetail' %}">Your Details</a>
    
            <a href="{% url 'Addprofile' %}">Add or Edit Your Profile</a>
    
            <a href="{% url 'viewprofile' %}">View Your Profile</a>
    
            <a href="{% url 'logout' %}">Log Out</a><br><br>
            </center>
          </nav>
        </header>

        

        <main class="main">
          <h3>Welcome to AS-Travels</h3>
          <p>Places that we cover: {% for place in places %}{{place.place}}, {% endfor %}</p>
  
          <h3>Buses that we have</h3>
          <table>
            <tr>
              <th>Table Id</th>
              <th>Bus No</th>
              <th>Bus Name</th>
              <th>Total Seats</th>
              <th>Bus Type</th>
            </tr>
            {% for bus in buses %}
              <tr>
                <td>{{bus.id}}</td>
                <td>{{bus.bus_no}}</td>
                <td>{{bus.bus_name}}</td>
                <td>{{bus.total_seats}}</td>
                <td>{{bus.bus_type}}</td>
              </tr>
            {% endfor %}
          </table><br>
  
          <h3>Active Bus Avilable Now</h3>
          <table>
            <tr>
              <th>Table Id</th>
              <th>Bus Id</th>
              <th>Seats Available</th>
              <th>Start Place Id</th>
              <th>Start Date</th>
              <th>Start Time</th>
              <th>End Place Id</th>
              <th>End Date</th>
              <th>End Time</th>
            </tr>
            {% for bus in all_bus_status %}
              <tr>
                <td>{{bus.id}}</td>
                <td>{{bus.bus_id}}</td>
                <td>{{bus.seats_available}}</td>
                <td>{{bus.start_place}}</td>
                <td>{{bus.start_date}}</td>
                <td>{{bus.start_time}}</td>
                <td>{{bus.end_place}}</td>
                <td>{{bus.end_date}}</td>
                <td>{{bus.end_time}}</td>
              </tr>
            {% endfor %}
          </table>
        </main>

        <footer class="footer">
          <center>
              <h1>...AS-TRAVELS official website...</h1>
              <p>This website is designed to book bus ticket's in AS-Travels</p>
              <p>EMAIL: sanjubibin44@gmail.com</p>
          </center>
        </footer>
    </form>
{% endblock body %}


