{% extends 'base.html' %}


{% block title %}SA-travels-Send Mail{% endblock title %}


{% block body %}
    <header class="head">
        <h1>Ticket booked succesfully</h1>
        <a href="{% url 'logout' %}">Logout Your Account</a>
        <a href="{% url 'homepage' %}">Back To Homepage</a>
    </header>

    <main class="main">
        <center><h2>Check Mail for confirmation</h2></center>
    </main>

    <footer class="footer">
        <center>
            <h1>...AS-TRAVELS official website...</h1>
            <p>This website is designed to book bus ticket's in AS-Travels</p>
            <p>EMAIL: sanjubibin44@gmail.com</p>
        </center>
    </footer>

{% endblock body %}