{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static "images/bbbb.png" %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <style>
        {% block css %}{% endblock css %}
    </style>
    {% block other %}{% endblock other %}
</head>
<body class="body">
    <center>
        {% block body %}

        <main>{% block main %}{% endblock main %}</main>

        <article>{% block article %}{% endblock article %}</article>

        <section>{% block section %}{% endblock section %}</section>

        <aside>{% block aside %}{% endblock aside %}</aside>

        <footer class="footer">
            <center>
                <h1>...AS-TRAVELS official website...</h1>
                <p>This website is designed to book bus ticket's in AS-Travels</p>
                <p>EMAIL: sanjubibin44@gmail.com</p>
            </center>
        </footer>

        {% endblock body %}
    </center>
</body>
</html>


{% comment %} 

for html tag arguments with "id" name use "#" for css styling, for "class" name use "." for css styling

{% endcomment %}