{% extends 'base.html' %}



{% block title %}SA-Travels-admin page{% endblock title %}


{% block body %}
    <form action="auth" method="POST">
        {% csrf_token %}

        <header class="head">     
            
        

                    <h1>ADMIN PAGE</h1>
                    <a href="{% url 'addplace' %}">Add Place</a>
                    <a href="{% url 'editplace' %}">Edit Place</a>
                    <a href="{% url 'deleteplace' %}">Delete Place</a>
            
                    <a href="{% url 'addbus' %}">Add Bus</a>
                    <a href="{% url 'editbus' %}">Edit Bus</a>
                    <a href="{% url 'deletebus' %}">Delete Bus</a> 
            
                    <a href="{% url 'addbusstatus' %}">Add Bus Status</a>
            
                    <a href="{% url 'filteruser' %}">Fetch Booked User Details</a>
            
                    <a href="{% url 'logout' %}">Log Out</a>
    

                


            


           
        </header>
        
        <main class="main">

        </main>

        <footer class="footer">
            <center>
                <h1>...AS-TRAVELS official website...</h1>
                <p>This website is designed to book bus ticket's in AS-Travels</p>
                <p>EMAIL: sanjubibin44@gmail.com</p>
            </center>
        </footer>
    </form>
{% endblock body %}