{% extends 'base.html' %}


{% block title %}AS-admin-add bus{% endblock title %}


{% block css %}
    #fade-msg {
        color: red;
        animation: fadeOut 10s ease forwards;
    }
    @keyframes fadeOut {
        0% {
        opacity: 1;
        }
        100% {
        opacity: 0;
        }
    }
{% endblock css %}

{% block body %}
    <form action="addbus" method="POST">
        {% csrf_token %}

        <header class="head">
          <h1>Add Bus </h1>
          <a href="{% url 'adminpage' %}">Back</a>
        </header>
        
        <main class="main">
                  {{form.bus_no.label}}
        {{form.bus_no}} <br><br>
        {{form.bus_name.label}}
        {{form.bus_name}} <br><br>
        {{form.total_seats.label}}
        {{form.total_seats}} <br><br>
        {{form.bus_type.label}}
        {{form.bus_type}} <br><br>

        <div id="fade-msg">{{msg}}</div>
         
        <label for="add_bus">Add Bus</label>
        <button id="add_bus">Add</button><br><br>

        <h2>Bus Table</h2>
        <table>
          <tr>
            <th>Table Id</th>
            <th>Bus No</th>
            <th>Bus Name</th>
            <th>Total Seats</th>
            <th>Bus Type</th>
          </tr>
          {% for bus in buses %}
            <tr>
              <td>{{bus.id}}</td>
              <td>{{bus.bus_no}}</td>
              <td>{{bus.bus_name}}</td>
              <td>{{bus.total_seats}}</td>
              <td>{{bus.bus_type}}</td>
            </tr>
            {% endfor %}
        </table>
        </main>

        <footer class="footer">
          <center>
              <h1>...AS-TRAVELS official website...</h1>
              <p>This website is designed to book bus ticket's in AS-Travels</p>
              <p>EMAIL: sanjubibin44@gmail.com</p>
          </center>
        </footer>
      
    </form>
{% endblock body %}