{% extends 'base.html' %}


{% block title %}SA-admin-add place{% endblock title %}

{% block css %}
#fade-msg {
  color: red;
  animation: fadeOut 10s ease forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 
{% endblock css %}

{% block body %}
    <form action="addplace" method="POST">
        {% csrf_token %}

        <header class="head">
          <h1>Add Places</h1>
          <a href="{% url 'adminpage' %}">Back</a>
        </header>

        <main class="main">
          {{form.places.label}}:
          {{form.places}} <br><br>
  
          <button>Add place</button><br><br>
  
          <div id="fade-msg">{{msg}}</div>
  
          <h2>Place Table</h2>
          <table>
            <tr>
              <th>Table Id</th>
              <th>Place</th>
            </tr>
            {% for place in places %}
              <tr>
                <td>{{place.id}}</td>
                <td>{{place.place}}</td>
              </tr>
            {% endfor %}
            </table>
        </main>
        
        <footer class="footer">
          <center>
              <h1>...AS-TRAVELS official website...</h1>
              <p>This website is designed to book bus ticket's in AS-Travels</p>
              <p>EMAIL: sanjubibin44@gmail.com</p>
          </center>
      </footer>

    </form>
{% endblock body %}